:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 30px;
}

.section {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: blue;
  margin-top: -8px;
  margin-left: -8px;
}

.container {
  padding: 60px 15px 15px 15px;
  width: 1200px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction:row;
  gap: 8px;
  width: 360px;
  margin: 0 auto;
}

.form-control {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #9a9595;
  padding: 8px;
  border: 2px solid #b5acac;
  border-radius: 5px;
  margin-bottom: 16px;
}

.btn {
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  border: none;
}

.btn:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 15px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.small-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.small-content span {
  font-size: 14px;
  color: #242424;
}

#loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
